body{margin:0; padding:0;}
div,p{margin:0; padding:0;}
form,input,legend,table,tbody,tfoot,tr,thead,td,th,fieldset{border-collapse:collapse;border-spacing: 0; border:none;}

h1,h2,h3,h4,h5,h6{margin:0;padding:0;}

ul,li,ol,dl,dt,dd,fieldset{margin:0; padding:0; }


article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section,video,audio,canvas {
    margin:0;
    padding:0;
}

abbr,address,b,strong.blockquote,cite,acronym,strong,em,i,code,pre,samp{margin:0;padding:0;}


 ul,dl, li ,dl,dt{
	
	list-style:none; list-style-type:none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

img , fieldset{border:none}


a:link{	color:#4cc4ff; text-decoration:none;	}
a:visited{	color:#4cc4ff; text-decoration: none;	}
a:hover{	color:#4cc4ff;	}
a:active{	color:#4cc4ff;	}